body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e7eaf6;
  position: relative;
  padding-top : 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  top : 50px;
  right : 300px;
}

.bottom-cloud {
  position: absolute;
  left : 300px;
  bottom: 300px;
}
