<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/" method="post">
  <input type="text" name="" value="">
  <button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>
