<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/" method="post">
  <input type="text" name="journalEntry">
  <button type="submit">Publish</button>
</form>

<%- include("partials/footer") -%>
