<%- include("partials/header") -%>

<h1>Home</h1>

<p>
  <%= homeStartingContent %>
</p>

  <% posts.forEach(function(post){
    console.log(post.title);
  }); %>


<%- include("partials/footer") -%>
