<%- include("partials/header") -%>

<h1>Home</h1>

<p>
  <%= homeStartingContent %>
</p>

  <% for(var i = 0; i < posts.length; i++){
    console.log(posts[i].title);
  } %>


<%- include("partials/footer") -%>
