<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1>
      <%=kindOfDay%>
    </h1>
  </div>

  <div class="box">
    <% for(var i = 0; i < listItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= listItems[i] %>
      </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>

</body>

</html>
